@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html{ box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body{
    background-color: rgb(240, 240, 214);
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    width: 90%;
    margin: 50px;
}

.bold-text {font-weight: bold;}

.container{
    color: rgb(145, 145, 238);
    background-color: rgb(202, 136, 202);
}

.info{
    text-align: center;
}

.ingredients{
    color:rgb(100, 78, 36);
    background-color:rgb(252, 209, 209);
}

.directions{
    color:rgb(33, 57, 102);
    background-color: rgb(225, 225, 252);
}

#title{
    color:rgb(67, 160, 129);
    text-align: center;
}

#information{
    color:rgb(240, 137, 154);
}

#nutrition{
    color:darkcyan;
}

img{
    height: 300px;
    width: auto;
}

a:link{color: rgb(243, 137, 155); }
a:visited{color: rgb(50, 148, 80); }
a:hover{color: rgb(25, 124, 55); }
a:active{color: rgb(190, 76, 76); }
a:focus{color: rgb(88, 88, 158); }

nav{
    background-color:rgb(238, 212, 181);
    padding: 20px 40px;
    width: 40%;
    margin: 0 auto;
    border: 20px;
    list-style: none;
    text-align: center;
}

.link{
    margin: 10px;
    padding: 8px 40px;
    max-width: 100px;
    font-size: 1.2em;
    display: inline-block;
}

.recipe{
    text-decoration: none;
    display: block;
    height: inherit;
    width: inherit;
}

header{
    color:rgb(81, 136, 67);
}

main{
    color:green
}

footer{
    color:gray
}

h1{
    color:rgb(100, 27, 27);
}

h2{
    color:rgb(80, 30, 128);
}

h3{
    color:brown
}

.boxes{
    background-color:rgb(76, 151, 151);
}

.box{
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: rgb(176, 176, 241);
  color: rgb(76, 214, 207);
  border: 10px solid rgb(93, 93, 185);
  padding: 10px;
  margin: 5%;
}

