@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    font-family: "Open Sans", sans-serif
}

.container{
    color: rgb(95, 95, 224);
    background-color:antiquewhite
}

.ingredients{
    color:orange;
}

.directions{
    color:cornflowerblue
}

#title{
    color:rgb(67, 160, 129)
}

#information{
    color:pink
}

#nutrition{
    color:darkcyan
}

img{
    height: 300px;
    width: auto
}

a link{ color: red; }
a visited{ color: purple; }
a active{ color: black; }
a hover{ color: green; }

nav{
    background-color:bisque
}

header{
    color:yellowgreen;
}

main{
    color:green
}

footer{
    color:gray
}

h1{
    color:rgb(40, 25, 252);
}

h2{
    color:blueviolet;
}

h3{
    color:brown
}


